<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="catglo.com.deliverydroid">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>

    <application
            android:name=".DeliveryDroidApplication"
            android:allowBackup="true"
            android:backupAgent=".backup.MyBackupAgent"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/maps_API_KEY"/>

        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>

        <meta-data
                android:name="com.google.firebase.ml.vision.DEPENDENCIES"
                android:value="ocr"/>

        <activity android:name=".homeScreen.HomeScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".neworder.NewOrderActivity"
                android:label="@string/New_Order"
                android:theme="@style/ActionBarTheme"
                android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="Delivery Droid New Order"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".AboutActivity"
                android:label="@string/About"
                android:theme="@style/ActionBarTheme"
                android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".backup.GoogleDriveBackupRestoreActivity"
                android:label="@string/Google_Drive_Backup"
                android:theme="@style/ActionBarTheme"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name=".bankDrop.BankTillDropActivity"
                android:theme="@style/AppTheme"/>
        <activity android:name=".settings.SettingsActivity"/>
        <activity android:name=".homeScreen.HomeListSettings"/>
        <activity android:name=".orderSummary.OrderSummaryActivity"/>
        <activity
                android:name=".shift.OdometerEntryActivity"
                android:theme="@style/ActionBarTheme"/>
        <activity
                android:name=".outTheDoor.OutTheDoorActivity"
                android:theme="@style/ToolBarTheme"
                android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="Delivery_Droid_Out_The_Door"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".TipHistoryActivity"
                android:theme="@style/AppTheme"
                android:windowSoftInputMode="stateHidden"/>
        <activity
                android:name=".ListAddressHistoryActivity"
                android:theme="@style/AppTheme"/>
        <!-- <activity android:name=".Settings_DropPrefsActivity" /> -->

        <activity android:name=".shift.ShiftStartEndActivity"/>
        <activity android:name=".homeScreen.HomeScreen_MapFragmentActivity"/>
        <activity
                android:name=".settings.SettingsListOptions"
                android:exported="false">
            <intent-filter>
                <action android:name="catglo.com.deliverydroid.Settings_ListOptions"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <uses-library android:name="com.google.android.maps"/>

        <activity
                android:name=".outTheDoor.GpsNotes"
                android:label="@string/title_activity_gps_notes">
            <intent-filter>
                <action android:name="Delivery Droid Gps Notes"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".viewEditOrder.SummaryActivity"
                android:label="@string/title_activity_summary">
            <intent-filter>
                <action android:name="Delivery_Droid_Order_Summary"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".shift.ShiftStartEndTimesActivity"
                android:label="@string/title_activity_shift_start_end_times">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value=".shift.ShiftStartEndActivity"/>
        </activity>
        <activity
                android:name=".shift.ShiftSetWageActivity"
                android:label="@string/wage"/>
        <activity
                android:name=".shift.ShiftStartEndDayActivity"
                android:label="@string/title_activity_shift_start_end_day"/>
        <activity
                android:name=".shift.ShiftStartEndEditWage"
                android:label="@string/title_activity_shift_start_end_edit_wage"/>

        <service
                android:name=".GeofenceIntentService"
                android:exported="false"
                android:label="@string/app_name"/>




        <activity
                android:name=".settings.SettingsStoreAddressActivity"
                android:exported="false"
                android:label="@string/title_activity_settings_store_address">
            <intent-filter>
                <action android:name="catglo.com.deliverydroid.SettingsStoreAddressActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".homeScreen.DownloadMapActivity">
        </activity>
    </application>

</manifest>